*{
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.container::after,
.content-row::after,
.footer-right::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* ----------header---------- */
.header {
    width: 100%;
    height: 800px;
    background-color: #1a4f27;
    background: url(../img/header-bg.jpg) center no-repeat;
    background-size: cover;
    padding-top: 45px;
    position: relative;
}

.logo {
    float: left;
    width: 270px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    transition: 0.2s linear;
}

.logo:hover,
.header-scroll:hover {
    opacity: .6;
    transition: 0.2s;
    cursor: pointer;
}

.nav {
    float: right;
    width: 770px;
    font-size: 22px;
    text-align: right;
    padding-top: 14px;
}

.nav-link {
    display: inline-block;
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}
.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover,
.footer-list-link:hover {
    opacity: .6;
    text-decoration: underline;
}

.header-content {
    width: 1170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}

.header-subtitle {
    font-size: 24px;
    font-weight: 400;
}

.header-scroll {
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
    text-align: center;
    transition: 0.2s linear;
}

.header-scroll-text {
    font-size: 16px;
	margin-bottom: 12px;
}

/* ----------section-content---------- */
.section-content {
    padding: 120px 0;
}

.content-row {
    margin-bottom: 120px;
}

.content-row:last-child {
    margin-bottom: 0px;
}

.content-desc {
    width: 470px;
    color: #31405b;
}

.content-title {
    font-size: 54px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 35px;
}

.content-text {
    margin-bottom: 40px;
}

.content-text p {
    font-size: 20px;
    line-height: 1.6;
}

.content-text a {
    color: #329dd5;
}

.btn {
    display: inline-block;
    background-color: #0ac883;
    padding: 12px 40px 0;
    border-radius: 25px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    line-height: 1;
    border: 1px solid transparent;
    transition: 0.2s linear;
}

.btn:hover {
    background-color: #fff;
    border: 1px solid #0ac883;
    color: #0ac883;
}

.content-img {
    width: 570px;
}

/* ----------footer---------- */
.footer {
    background-color: #265847;
    padding-top: 80px;
    padding-bottom: 100px;
}

.footer-left {
    width: 270px;
    float: left;
}

.footer-right {
    max-width: 870px;
    float: right;
}

.footer-logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}

.footer-about {
    font-style: 16px;
    line-height: 1.625;
}

.footer-col {
    font-size: 18px;
    float: left;
    margin-right: 30px;
}

.footer-col:last-child {
    margin-right: 0;
}

.footer-col-contact,
.footer-col-info {
    width: 200px;
}

.footer-col-service {
    width: 240px;
}

.footer-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-list {
    font-size: 18px;
}

.footer-list-item {
    margin-bottom: 15px;
}

.footer-list-link {
    text-decoration: none;
    color: #fff;
    transition: 0.2s linear;
}
